// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #469AE0;
$yellow: #FFFF33;
$orange: #FDB631;
$green: #32B796;
$gray: #000000;
$dark-gray: #585658;
$light-gray: #F4F4F4;
