/* Main navbar */
.navbar-classic {
  box-shadow: 0 .0625rem 0.3125rem 0 rgba(0,0,0,0.07),0 .0625rem 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 4.375rem;
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: red;
  }
}

/* Logo */
.navbar-classic-brand img {
  height: 3.125rem;
}

/* User Avatar */
.navbar-classic .avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: .0625rem .0625rem .1875rem $dark-gray;
}

/* Right section */
.navbar-classic-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-classic-item {
  cursor: pointer;
  padding: 0 1.25rem;
}

/* Navbar link */
.navbar-classic-link {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
.navbar-classic-link:hover {
  color: #585658;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-classic-dropdown-menu {
  margin-top: 1rem;
  box-shadow: .0625rem .0625rem 0.25rem #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-classic-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: .9375rem !important;
  line-height: 1.5rem !important;
  padding: .625rem 1.25rem;
}
.navbar-classic-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  text-decoration: none !important;
}
.navbar-classic-dropdown-menu:before {
  content: ' ';
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  background-color: white;
  transform: rotate(45deg);
  border-left: 0.0625rem solid #E6E6E6;
  border-top: 0.0625rem solid #E6E6E6;
}
.fas {
  margin-right: .5rem;
}
